{% extends 'base.html' %}

{% block content %}
    <h1>Topic List <a class="btn btn-primary" style="float: right" href="{% url 'pulse:topic-create' %}">+</a></h1>

    {% if topic_list %}
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for topic in topic_list %}
                <tr>
                    <td>
                        {{ topic.id }}
                    </td>
                    <td>
                        {{ topic.name }}
                    </td>
                    <td>
                        <a href="{% url 'pulse:topic-update' pk=topic.id %}">UPDATE</a>
                    </td>
                    <td>
                        <a href="{% url 'pulse:topic-delete' pk=topic.id %}">DELETE</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no topics available.</p>
    {% endif %}
{% endblock %}
